/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
:root {
  --black: #000000;
  --white-smoke: #F2F2F2;
  --dark-slate-gray: #044040;/*Titulos*/
  --dark-teal: #033636;
  --dark-slate-gray-rgba: rgba(4, 64, 64, 0.712); /*Botones:hover*/
  --dark-goldernrod: #F2A71B;
  --medium-gray:#808080;
  --light-brown:#ffbf00;
  --Beige:#F5F5DC;
  --dark-bronze: rgba(38, 44, 58, 1);


  --grey: rgba(66, 65, 65, 0.096);
  --dark-bronze: rgba(38, 44, 58, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background-color: var(--white-smoke);
}

/*HEADER PAGINA*/
.logo{
  margin: 20px;
  text-align: center;
}

nav{
position: center;
align-items: center;
gap: 45%;
width: 100%;
background-color: transparent;
}

.logo img{
  width: 300px;
  align-items: center;
}

/*=====================================
    Arreglos de la primera seccion
=====================================*/

.sec1{
  display: flex;
  align-items: center;
  justify-content: space-around; /*Crea espacio entre los div*/
}

.sec1 .image img{
  width: 50vw;
  max-width: 700px;
  margin-right: -5vw;
}

.sec1 .content{
  width: 50vw;
  padding: 7%;
}

.sec1 .content h1{
  color: var(--dark-slate-gray);
  font-size: 55px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec1 .content p{
  color: rgb(109, 97, 110);/*-----------------------------*/
  margin-bottom: 30px;
}

/*Ajustes del boton order now (ordenar ahora)*/

.btn{
  background-color: var(--dark-slate-gray);
  color: var(--white-smoke);
  display: inline-flex;
  align-items: center;
  padding: 20px 30px;
  border-radius: 50px;/*aqui se usa la propiedad del radio del borde*/
  transition: all 0.3s; /*se le da tiempo se movimiento al boton*/
  text-decoration: none; 
}

.btn i{
  margin-left: 20px;
  font-size: 20px;
}

.btn:hover{ /*:hocer se usa para que cuando pase el cursor cambie de color*/
  background-color: var(--dark-slate-gray-rgba); /*el rgba se usa para poder usar la tecnica de la opacocidad caundo pase el cursos*/
  transform: translateX(20px);/*lo que se hace aqui es que caundo pase el cursos el boron de mueva*/
}

/*=====================================
    Arreglos de la segunda seccion
=====================================*/

.sec2{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5%;
}

.sec2 .image img{
  width: 40vw;
  max-width: 600px;
}

.sec2 .content{
  max-width: 40vw;
}

.sec2 h2{
  font-family: Cedarville cursive, cursive;
  font-size: 30px;
  color: var(--dark-teal);
}

.sec2 .content h1{
  color: var(--dark-slate-gray);
  font-size: 45px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec2 .content p{
  color: var(--light-gray);/*---------------------------------------------*/
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
}

/*=====================================
    Arreglos de la tercera seccion
=====================================*/

.sec3{
  padding: 7% 5%;
  text-align: center;

}

.sec3 h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
}

.sec3 .cardbox{
  padding: 70px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card{
  width: 270px;
  padding: 40px 20px;
  border-radius: 15px;
  box-shadow: 0 0 40px var(--grey);/*Lo que hace este elementos es crear sombras al rededor*/
  cursor: pointer;
  transition: all 0.3s;
}

.card:hover{
  box-shadow: 0 0 100px var(--dark-goldernrod);
  transform: scale(1.02); /*Lo que hace es trasformas la tarjeta un poco mas grande*/
}

.card img{
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 15px;
}

.card h4, .card p, .card span{/*Se le dan todos los ajustes a todos estos elementos*/
  text-align: left;
  margin-bottom: 15px;
  display: block;
}

.card p{ /*Arreglar el desbordamiento de texto*/
  font-size: 13px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /*este elemto doce que o pueden haber mas de 2 lineas*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.card span{
  color: var(--dark-teal);
  font-weight: 700;
}

/*=====================================
    Arreglos de la Cuarta seccion
=====================================*/

.sec4{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sec4 .image img{
  width: 40vw;
  max-width: 700px;
  margin-top: -50px;
}

.sec4 .content{
  width: 50vw;
  padding: 7%;
}

.sec4 .content h1{
  color: var(--dark-slate-gray);
  font-size: 55px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sec4 .content p{
  color: var(--light-gray);
  margin-bottom: 30px;

}

.sec4 h2{
  font-family: Cedarville cursive, cursive;
  font-size: 30px;
  color: var(--dark-teal);
}

/*=====================================
    Arreglos de la quinta seccion
=====================================*/
.sec5{
  padding: 5% 10%;
  margin: 10% 0;
}

.newsletter{
  background-color: var(--dark-teal);
  border-radius: 20px;
  min-height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.newsletter img{
  width: 30vw;
  max-width: 450px;
}

.newsletter .content{
  width: 30vw;
}

.newsletter .content h1{
  color: var(--white-smoke);
  font-size: 40px;
  margin-bottom: 40px;
  width: 80%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.newsletter h2{
  font-family: Cedarville cursive, cursive;
  font-size: 30px;
  color: var(--dark-goldernrod);
}

/*Estilo del boton*/

.newsletter .subscribe{
  padding: 10px;
  background-color: var(--white-smoke);
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter .subscribe input{
  font-size: 15px;
  width: 70%;
  outline: none;
  border: none;
  padding: 10px;
}

.newsletter .subscribe button{
  background-color: var(--dark-goldernrod);
  border: none;
  color: var(--dark-teal);
  border-radius: 20pc;
  font-size: 15px;
  padding: 10px 20px;
  cursor: pointer;
}