/* =============================
			GLOBALS
===============================*/

:root {
    --black: #000000;
    --dark-teal: #011F26;
    --dark-slate-gray: #044040;/*Titulos*/
    --dark-slate-gray-rgba: rgba(4, 64, 64, 0.712); /*Botones:hover*/
    --dark-goldernrod: #F2A71B;
    --white-smoke: #F2F2F2;
    --grey: rgba(66, 65, 65, 0.096);
    --light-gray: rgb(109, 97, 110);
    --dark-gray:rgb(128, 128, 128);
    --dark-bronze: rgba(38, 44, 58, 1);
    --lighr-gray-rgba: rgba(255, 0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.login-container{
    min-width: 100vh;
    padding: 0 7%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login-image{
    width: 70%;
}

.login-image img{
    width: 70%;
}

.login{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 150px var(--grey);
    border-radius: 20px;
    padding: 40px;
    width: 40%;
}

form{
    width: 100%;
}

.login h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--dark-slate-gray);
}

.login-container label,
.login-container input{
    display: block ;
}

.login label{
    font-size: 13px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
}

.login input{
    padding: 10px;
    width: 100%;
    outline: none;
    border: 1px solid var(--dark-slate-gray-rgba);
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.09);
}

.login .forgot{
    text-align: right;
    color: rgb(82, 82, 82);
    font-size: 12px;
    margin-top: 5px;
    cursor: pointer;
}

.login .btn{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.login .btn:hover{
    transform: translateX(0);
}

.login .signup{
    color: rgb(82, 82, 82);
    font-size: 13px;
    text-align: center;
    margin-top: 20px;
}

.login .signup span{
    color: var(--black);
}

#regis{
    color: var(--dark-teal);
}