/* =============================
			GLOBALS
===============================*/

:root {
    --black: #000000;
    --dark-teal: #011F26;
    --dark-slate-gray: #044040;/*Titulos*/
    --dark-slate-gray-rgba: rgba(4, 64, 64, 0.712); /*Botones:hover*/
    --dark-goldernrod: #F2A71B;
    --white-smoke: #F2F2F2;
    --grey: rgba(66, 65, 65, 0.096);
    --light-gray: rgb(109, 97, 110);
    --dark-gray:rgb(128, 128, 128);
    --dark-bronze: rgba(38, 44, 58, 1);
    --lighr-gray-rgba: rgba(255, 0, 0, 0.1);
    --gray-dark-rgba: rgba(255, 255, 255, 0.5);
    --light-orange: rgb(254, 233, 209);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .nav1 a{
    color: var(--white-smoke);
}

.reserve-container{
    display: flex;
    min-height: 100vh;
    background: url(../../public/images/img8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reservation{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, var(--dark-teal) -100%, transparent);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.reservation form{
    padding: 50px;
    width: 60%;
    backdrop-filter: blur(5px);/*hace qeu se desonfoqeu el fondo del formulario*/
    background-color: var(--gray-dark-rgba); /*Darle opacidad al fondo del desenfoque*/
}

.reservation form h2{
    margin-bottom: 20px;
    font-size: 30px;
    color: var(--dark-slate-gray);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.reservation form div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reservation form input, .reservation form textarea{
    width: 50%;
    padding: 15px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.reservation form textarea{
    resize: none;
    width: 100%;
}

.reservation form  .btn{
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    width: 250px;
    text-align: center;
}

.reservation form .btn:hover{
    transform: translateX(0);
}